@import "tailwindcss";

@theme {
 /* gray */
  --color-gray-50:  #f9f9f9;  
  --color-gray-400: #aaaaaa;  
  --color-gray-700: #424242;  
  --color-gray-800: #3b3b3b;  
  --color-gray-900: #212121;  
  --color-gray-950: #151515;
 /* blue */
  --color-blue-500: #3c67ff;
  /* radius */
  --radius-corner-300: 6px;
  --radius-corner-400: 8px;
}
